<p-table
[columns]="cols"
[value]="findings"
[paginator]="true"
[rows]="5"
selectionMode="single"
[(selection)]="selectedFinding"
[lazy]="true"
(onLazyLoad)="loadFindingsLazy($event)"
[totalRecords]="totalRecords"
[loading]="loading">
  <ng-template pTemplate="header" let-columns>
      <tr>
         <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-findings let-columns="columns">
      <tr [pSelectableRow]="findings">
          <td *ngFor="let col of columns">
              {{findings[col.field]}}
      </td>
      </tr>
  </ng-template>
</p-table>
