footer {
  background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: normal 18px sans-serif;
    padding: 45px;
    margin-top: 80px;
    position: fixed;
    bottom: 0;
    right: 0.4px;
}
header {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
padding: 45px;
right: 0.4px;
position: fixed;

}


